body {
    box-sizing: border-box;

}

header h1 {
    padding: 8px;
    margin: auto;
    width: auto;
   background-color: black;
   color: white;
}

.container {
    width: 1360;
    margin: auto;
}

.articles {
    display: flex;
    justify-content: space-between;
}

.articles article img {
    height: 180px;
    margin: 0;
    width: 240px;
}

.container li {
    display: inline;
    margin: 20px;
}

.articles article p {
    color: black;
   margin: 5px;
}

body {
background-color: grey;
}
.articles article a {
    background-color: rgba(34, 24, 168, 0.993);
    color: white;
}
.articles2 article p {
color: blue;
margin: 5px;
}

.articles2 article a{
background-color: black;
color: brown;
}

.articles2 article img {
    height: 180px;
    margin: 0;
    width: 240px;
}

.articles2 {
    display: flex;
    justify-content: space-between
}

#Musculação {
   background-color:rgb(112, 186, 255);
}
    
#Gamer {
    background-color: rgb(252, 114, 114);
}